body {
    margin: 100px;
}

input, select { 
    width: 250px;
    margin-bottom: 10px;
}

textarea {
    width: 450px;
}

input[type='submit'] {
    margin-left: 300px;
    width: 150px;
}

h1 {
    text-decoration: underline;
}

label {
    width: 200px;
}

div {
    width: 500px;
    border: 1px solid black;
    padding: 10px;
}

p {
    text-align: left;
}

a {
    margin-left: 300px;
    width: 150px;
}

.error {
    color: red;
}

