<html>
    <head>
        <title>Registration Form</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="form_container">
            <form action='/process' method='post'>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <span class="error">{{message}}</span><br/>
                    {% endfor %}
                    <p>&nbsp;</p>
                  {% endif %}
                {% endwith %}
                <p>
                    <label for='email'>Email:</label>
                    <input type='text' name='email' id='email' value="{{request.form['email']}}">                
                </p>
                <p>
                    <label for='first_name'>First Name:</label>
                    <input type='text' name='first_name' id='first_name' value="{{request.form['first_name']}}">                
                </p>
                <p>
                    <label for='last_name'>Last Name:</label>
                    <input type='text' name='last_name' id='last_name' value="{{request.form['last_name']}}">                
                </p>
                <p>
                    <label for='password'>Password:</label>
                    <input type='password' name='password' id='password' value="{{request.form['password']}}">                
                </p>
                <p>
                    <label for='confirm_password'>Confirm Password:</label>
                    <input type='password' name='confirm_password' id='confirm_password' value="{{request.form['confirm_password']}}">                
                </p>
                <input class='btn btn-primary' type='submit' value='Register'>
            </form>        
        </div>
    </body>
</html>